radio_conditions/network_1_rings_femtocells.mat

radio_conditions/network_2_rings_1_sectors_inter_bs_500m.mat

radio_conditions/network_2_rings_3_sectors_inter_bs_500m.mat

radio_conditions/network_1_rings_3_sectors_30_offset_10m_res_TS36942_urban_kathreinTSAntenna_antenna_8?-0?_2.14GHz_freq_claussen8dB_shadow_fading.mat

radio_conditions/network_2_rings_1_sectors_inter_bs_250m.mat

radio_conditions/network_2_rings_3_sectors_30_offset_5m_res_TS36942_urban_TS 36.942_antenna_2.14GHz_freq_plus_femtocellsnetwork___claussen10dB_shadow_fading.mat

radio_conditions/network_2_rings_3_sectors_inter_bs_250m.mat

testing-collaboration-uestc_v6-v7/simulator-se-ee-bs-formulation.zip
